<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Locker List</title>

		<link
			rel="icon"
			href="{{ url_for('static', filename='images/logo.png') }}"
		/>

		<!-- Bootstrap core CSS -->
		<link
			href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='css/style.css') }}"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="light-container col-12 p-0">
			<div class="header h-auto py-2">
				<div class="brand d-flex flex-row justify-content-between px-3">
					<div class="d-flex flex-row justify-content-center">
						<img
							class=""
							src="{{ url_for('static', filename='images/logo.png') }}"
							alt=""
						/>
						<h4 class="fw-bold d-flex align-items-center">
							EcoGuard Charge Box
						</h4>
					</div>
					<div class="d-flex flex-row align-items-center me-2">
						<a
							href="{{ url_for('back', to='menu') }}"
							class="back btn btn-warning fw-bold px-4 d-flex flex-row align-items-center"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-arrow-left-circle-fill"
								viewBox="0 0 16 16"
							>
								<path
									d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
								/>
							</svg>
							<span>&nbsp;Back</span>
						</a>
					</div>
				</div>
			</div>

			<div class="wrapper px-5 py-2">
				<div
					class="d-flex flex-column justify-content-center gap-2 text-center"
				>
					<div class="d-flex flex-row justify-content-center gap-4">
						<a
							class="item p-3"
							href="{{ url_for('auth_pin', locker_code=locker_list[0].code) if locker_list[0].anchor_status else 'javascript:void(0)' }}"
						>
							<h5 class="fw-bold">Locker</h5>
							<h4 class="fw-bold">{{ locker_list[0].code }}</h4>
							{% if locker_list[0].status == "Available" or
							locker_list[0].status == "Ready": %}
							<button class="btn btn-primary btn-lg no-hover fw-bold px-4 py-1">
								{{ locker_list[0].status.capitalize() }}
							</button>
							{% else %}
							<button class="btn btn-danger btn-lg no-hover fw-bold px-4 py-1">
								{{ locker_list[0].status.capitalize() }}
							</button>
							{% endif %}
						</a>

						<a
							class="item p-3"
							href="{{ url_for('auth_pin', locker_code=locker_list[1].code) if locker_list[1].anchor_status else 'javascript:void(0)' }}"
						>
							<h5 class="fw-bold">Locker</h5>
							<h4 class="fw-bold">{{ locker_list[1].code }}</h4>
							{% if locker_list[1].status == "Available" or
							locker_list[1].status == "Ready": %}
							<button class="btn btn-primary btn-lg no-hover fw-bold px-4 py-1">
								{{ locker_list[1].status.capitalize() }}
							</button>
							{% else %}
							<button class="btn btn-danger btn-lg no-hover fw-bold px-4 py-1">
								{{ locker_list[1].status.capitalize() }}
							</button>
							{% endif %}
						</a>
					</div>

					<div class="d-flex flex-row justify-content-center gap-4">
						<a
							class="item p-3"
							href="{{ url_for('auth_pin', locker_code=locker_list[2].code) if locker_list[2].anchor_status else 'javascript:void(0)' }}"
						>
							<h5 class="fw-bold">Locker</h5>
							<h4 class="fw-bold">{{ locker_list[2].code }}</h4>
							{% if locker_list[2].status == "Available" or
							locker_list[2].status == "Ready": %}
							<button class="btn btn-primary btn-lg no-hover fw-bold px-4 py-1">
								{{ locker_list[2].status.capitalize() }}
							</button>
							{% else %}
							<button class="btn btn-danger btn-lg no-hover fw-bold px-4 py-1">
								{{ locker_list[2].status.capitalize() }}
							</button>
							{% endif %}
						</a>
						<a
							class="item p-3"
							href="{{ url_for('auth_pin', locker_code=locker_list[3].code) if locker_list[3].anchor_status else 'javascript:void(0)' }}"
						>
							<h5 class="fw-bold">Locker</h5>
							<h4 class="fw-bold">{{ locker_list[3].code }}</h4>
							{% if locker_list[3].status == "Available" or
							locker_list[3].status == "Ready": %}
							<button class="btn btn-primary btn-lg no-hover fw-bold px-4 py-1">
								{{ locker_list[3].status.capitalize() }}
							</button>
							{% else %}
							<button class="btn btn-danger btn-lg no-hover fw-bold px-4 py-1">
								{{ locker_list[3].status.capitalize() }}
							</button>
							{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>

		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	</body>
</html>
